langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-groq==0.3.8
groq==0.37.1
arxiv==4.0.1
requests==2.34.2
python-dotenv==1.2.4
faiss-cpu==1.15.1
sentence-transformers==6.1.0
gradio==5.50.0
